# colcon build outputs (from workspace root)
../build/
../install/
../log/

# Python
__pycache__/
*.pyc

# Editors
.vscode/
.idea/

# OS
.DS_Store


# Ignore large Moon texture
salvos_gz/models/Moon 60S 30S/meshes/SLDEM2015_512_60S_30S_315_360.JPG
