<?xml version="1.0" ?>

<model>
  <name>Moon 60S 30S</name>
  <version>1.0</version>
  <sdf version="1.10">model.sdf</sdf>

  <author>
    <name>Jasmeet Singh</name>
    <email>jasmeet0915@gmail.com</email>
  </author>

  <description>
    This is a model of region of Moon from 60 degree south latitude to 30degree south taken with the data from Lunar Orbiter Laser Altimeter (LOLA) aboard the Lunar Reconnaissance Orbiter (LRO)
  </description>
</model>

