<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="hermes">

  <xacro:arg name="mesh_base" default="package://salvos_gz/models/hermes/meshes"/>

  <xacro:include filename="hermes_core.xacro"/>
  <xacro:hermes_core mesh_base="$(arg mesh_base)"/>

  <!-- Include the macro and instantiate it -->
  <xacro:include filename="gazebo_control.xacro"/>
  <xacro:gazebo_control/>

</robot>
 